<h2><%= author.name %></h2>
<p><%= author.mustacheSize %></p>

<hr>

<h2>Posts by this author</h2>

<% posts.forEach(function(post) { %>
    <p><a href="/posts/<%= post.id %>"><%= post.title %></a></p>
<% }) %>

<hr>

<h2>Add a Post</h2>

<form action="/authors/<%= author.id %>/posts" method="POST">
    <input type="text" name="title" id="title" placeholder="Title"><br />
    <input type="text" name="content" id="content" placeholder="Content"><br />
    <input type="submit" value="Add Post">
</form>